<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Học Nguyễn Trinh - Laptop, Máy In, Camera Buôn Ma Thuột</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="top-bar">
        <div class="container">
            <div class="top-left">
                <span><i class="fa fa-file-invoice"></i> MST: 6001789324</span>
                <span style="margin-left: 20px;"><i class="fa fa-map-marker-alt"></i> K11 Lý Thường Kiệt, TP. Buôn Ma Thuột</span>
            </div>
            <div class="top-right">
                <span><i class="fa fa-clock"></i> 07:30 - 18:00</span>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="header-main">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo-nguyen-trinh.png" alt="Tin Học Nguyễn Trinh">
                    </a>
                </div>

                <div class="search-box">
                    <form action="/search" method="GET" style="display: flex; width: 100%;">
                        <input type="text" name="q" placeholder="Tìm Laptop, Máy in, Linh kiện PC...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <div class="hotline">
                    <i class="fa fa-phone-volume"></i>
                    <div class="hotline-text">
                        <span style="display: block; font-size: 11px; color: #666;">Tư vấn bán hàng:</span>
                        <b>0396 784 712</b>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="container" style="display: flex; flex-wrap: wrap; justify-content: center;">
            <a href="/"><i class="fa fa-home"></i> TRANG CHỦ</a>
            <a href="/gioi-thieu"><i class="fa fa-info-circle"></i> GIỚI THIỆU</a>
            <a href="#"><i class="fa fa-laptop"></i> LAPTOP</a>
            <a href="#"><i class="fa fa-print"></i> MÁY IN</a>
            <a href="#"><i class="fa fa-camera"></i> CAMERA</a>
            <a href="#"><i class="fa fa-copy"></i> MÁY PHOTO</a>
            <a href="#"><i class="fa fa-microchip"></i> LINH KIỆN PC</a>
            <a href="/admin"><i class="fa fa-user-cog"></i> QUẢN TRỊ</a>
        </div>
    </nav>